/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --color-primary: #3880ff;
  --color-primary-rgb: 56, 128, 255;
  --color-primary-contrast: #ffffff;
  --color-primary-contrast-rgb: 255, 255, 255;
  --color-primary-shade: #3171e0;
  --color-primary-tint: #4c8dff;
  /** secondary **/
  --color-secondary: #0cd1e8;
  --color-secondary-rgb: 12, 209, 232;
  --color-secondary-contrast: #ffffff;
  --color-secondary-contrast-rgb: 255, 255, 255;
  --color-secondary-shade: #0bb8cc;
  --color-secondary-tint: #24d6ea;
  /** tertiary **/
  --color-tertiary: #7044ff;
  --color-tertiary-rgb: 112, 68, 255;
  --color-tertiary-contrast: #ffffff;
  --color-tertiary-contrast-rgb: 255, 255, 255;
  --color-tertiary-shade: #633ce0;
  --color-tertiary-tint: #7e57ff;
  /** success **/
  --color-success: #10dc60;
  --color-success-rgb: 16, 220, 96;
  --color-success-contrast: #ffffff;
  --color-success-contrast-rgb: 255, 255, 255;
  --color-success-shade: #0ec254;
  --color-success-tint: #28e070;
  /** warning **/
  --color-warning: #ffce00;
  --color-warning-rgb: 255, 206, 0;
  --color-warning-contrast: #ffffff;
  --color-warning-contrast-rgb: 255, 255, 255;
  --color-warning-shade: #e0b500;
  --color-warning-tint: #ffd31a;
  /** danger **/
  --color-danger: #f04141;
  --color-danger-rgb: 245, 61, 61;
  --color-danger-contrast: #ffffff;
  --color-danger-contrast-rgb: 255, 255, 255;
  --color-danger-shade: #d33939;
  --color-danger-tint: #f25454;
  /** dark **/
  --color-dark: #222428;
  --color-dark-rgb: 34, 34, 34;
  --color-dark-contrast: #ffffff;
  --color-dark-contrast-rgb: 255, 255, 255;
  --color-dark-shade: #1e2023;
  --color-dark-tint: #383a3e;
  /** medium **/
  --color-medium: #989aa2;
  --color-medium-rgb: 152, 154, 162;
  --color-medium-contrast: #ffffff;
  --color-medium-contrast-rgb: 255, 255, 255;
  --color-medium-shade: #86888f;
  --color-medium-tint: #a2a4ab;
  /** light **/
  --color-light: #f4f5f8;
  --color-light-rgb: 244, 244, 244;
  --color-light-contrast: #000000;
  --color-light-contrast-rgb: 0, 0, 0;
  --color-light-shade: #d7d8da;
  --color-light-tint: #f5f6f9;
}

body, html {
  height: 100%;
  background-color: ghostwhite;
  background-image: url("../../public/images/background.png");
  font-family: "Urbanist", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 1200px;
  margin: 0 auto;
  background-color: ghostwhite;
}

h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
  margin-bottom: 1em;
}

h2 {
  font-family: "Kite One", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

h3 {
  font-family: "Kite One", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  color: #000;
  line-height: 1.4;
}

p {
  margin-bottom: 1em;
  font-size: 16px;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  background-color: ghostwhite;
}

.header {
  background-image: url("../../public/images/banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 200px;
}

footer {
  background-color: gray;
  text-align: center;
  margin-top: auto;
  padding: 8px;
  color: white;
}

.navbar-container {
  width: 100%;
  background-color: transparent;
  height: 110px;
  display: flex;
  align-items: center;
}
.navbar-container img {
  background-color: ghostwhite;
  z-index: 500;
  width: 100px;
  height: 100px;
}
.navbar-container .menu {
  height: 2em;
  flex: 1;
  font-size: 16px;
  vertical-align: middle;
  background-color: slategray;
  border-radius: 6px;
  padding-top: 0.5em;
}
.navbar-container .menu a {
  color: white;
  text-decoration: none;
  margin: 0.5em;
}

.home {
  margin: 0.5em;
  padding-bottom: 3em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.home .text {
  flex: 1;
}
.home .carousel {
  width: 350px;
}
.home .carousel button {
  width: 100%;
  height: 3em;
  border: none;
}
